<!--- Two Column Section -->
<div
  class="container-fluid padding"
  data-aos="fade-up"
  data-aos-offset="200"
  data-aos-delay="50"
  data-aos-duration="1000"
>
  <div class="row padding">
    <div class="col-md-12 col-lg-6">
      <h2>If you build it...</h2>
      <p>
        The columns will automatically stack on each other when the screen is
        less than 576px wide.
      </p>
      <p>
        Resize the browserwindow to see the effect. Responsive web design has
        become more important as the amount of mobile traffic now accounts for
        more than half of total internet traffic.
      </p>
      <p>
        It can also display the web page differently depending on the screen
        size or viewing device.
      </p>
      <br />
      <a href="#" class="btn btn-primary">Learn More</a>
    </div>
    <div class="col-lg-6">
      <img :src="{{ nftImageParsedList[0]?.imageUrl }}" class="img-fluid" />
    </div>
  </div>
</div>

<hr class="my-4" />
