<app-navbar></app-navbar>

<app-image-slider></app-image-slider>

<app-jumbotron></app-jumbotron>

<app-welcome-selection></app-welcome-selection>

<!--- Two Column Section -->
<div
  class="container-fluid padding"
  data-aos="fade-up"
  data-aos-offset="200"
  data-aos-delay="50"
  data-aos-duration="1000"
>
  <div class="row padding">
    <div class="col-md-12 col-lg-6">
      <h2>If you build it...</h2>
      <p>
        The columns will automatically stack on each other when the screen is
        less than 576px wide.
      </p>
      <p>
        Resize the browserwindow to see the effect. Responsive web design has
        become more important as the amount of mobile traffic now accounts for
        more than half of total internet traffic.
      </p>
      <p>
        It can also display the web page differently depending on the screen
        size or viewing device.
      </p>
      <br />
      <a href="#" class="btn btn-primary">Learn More</a>
    </div>
    <div class="col-lg-6">
      <img src="../assets/img/desk.png" class="img-fluid" />
    </div>
  </div>
</div>

<hr class="my-4" />

<!--- Meet the team -->
<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="display-4">Meet the Team</h1>
    </div>
  </div>
</div>

<!--- Cards -->
<div
  class="container-fluid padding"
  data-aos="fade-up"
  data-aos-offset="200"
  data-aos-delay="50"
  data-aos-duration="1000"
>
  <div class="row padding">
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="../assets/img/team1.png" />
        <div class="card-body">
          <h4 class="card-title">John Doe</h4>
          <p class="card-text">
            John is an Interent entrepreneur with almost 20 years of experience.
          </p>
          <a href="#" class="btn btn-outline-secondary">See Profile</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="../assets/img/team2.png" />
        <div class="card-body">
          <h4 class="card-title">Mary Jo</h4>
          <p class="card-text">
            Mary is a designer with a almost 10 years of digital design
            experience.
          </p>
          <a href="#" class="btn btn-outline-secondary">See Profile</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="../assets/img/team3.png" />
        <div class="card-body">
          <h4 class="card-title">Phil Ho</h4>
          <p class="card-text">
            Phil is an developer with over 5 years of web development
            experience.
          </p>
          <a href="#" class="btn btn-outline-secondary">See Profile</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--- Two Column Section -->
<div
  class="container-fluid padding"
  data-aos="fade-up"
  data-aos-offset="200"
  data-aos-delay="50"
  data-aos-duration="1000"
>
  <div class="row padding">
    <div class="col-md-12 col-lg-6">
      <h2>Our Philosophy</h2>
      <p>
        We know that greatness in a disruptive era requires bold ambition,
        curious talent and a culture that believes we're smarter together.
      </p>
      <p>
        We approach every challenge hostically, with best-in-class expertise in
        data, creativity, media, technology, search, social and more. We call
        this Alchemy. It has the power to build our clients' brands and
        transform their business. And white it may seem like magic, we've got it
        down to a science.
      </p>
    </div>
    <div class="col-lg-6">
      <img src="../assets/img/bootstrap2.png" class="img-fluid" />
    </div>
  </div>
  <hr class="my-4" />
</div>

<app-widget-connect></app-widget-connect>

<app-footer></app-footer>
