<!--- Cards -->
<div
  class="container-fluid padding"
  data-aos="fade-up"
  data-aos-offset="200"
  data-aos-delay="50"
  data-aos-duration="1000"
>
  <div class="row padding">
    <div class="col-md-4" *ngFor="let nftObj of dataNftList">
      <div class="card">
        <img class="card-img-top" :src="{{ nftObj.imageUrl }}" />
        <div class="card-body">
          <h4 class="card-title">{{ nftObj.nameStr }}</h4>
          <p class="card-text">
            {{ nftObj.descriptionStr }}
          </p>
          <a href="#" class="btn btn-outline-secondary">See Profile</a>
        </div>
      </div>
    </div>
  </div>
</div>
