<!--- Two Column Section -->
<div
  class="container-fluid padding"
  data-aos="fade-up"
  data-aos-offset="200"
  data-aos-delay="50"
  data-aos-duration="1000"
>
  <div class="row padding">
    <div class="col-md-12 col-lg-6">
      <h2>Our Philosophy</h2>
      <p>
        We know that greatness in a disruptive era requires bold ambition,
        curious talent and a culture that believes we're smarter together.
      </p>
      <p>
        We approach every challenge hostically, with best-in-class expertise in
        data, creativity, media, technology, search, social and more. We call
        this Alchemy. It has the power to build our clients' brands and
        transform their business. And white it may seem like magic, we've got it
        down to a science.
      </p>
    </div>
    <div class="col-lg-6">
      <img src="../assets/img/bootstrap2.png" class="img-fluid" />
    </div>
  </div>
  <hr class="my-4" />
</div>

<!--- Connect -->
<div class="container-fluid padding">
  <div class="row text-center padding">
    <div class="col-12">
      <h2>Connect</h2>
    </div>
    <div class="col-12 social padding">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-google-plus-g"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-youtube"></i></a>
    </div>
  </div>
</div>
